### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heros = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heros = pd.read_csv(heros)

## Player Count

* Display the total number of players

In [2]:
heros.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
count = heros["SN"].value_counts()
count

Lisosia93          5
Iral74             4
Idastidru52        4
Tyisur83           3
Lisopela58         3
Chanastnya43       3
Saistyphos30       3
Idai61             3
Aelin32            3
Lisim78            3
Saedaiphos46       3
Chamimla85         3
Ialallo29          3
Phyali88           3
Zontibe81          3
Phaena87           3
Tyidaim51          3
Ilarin91           3
Inguron55          3
Aina42             3
Umolrian85         3
Strithenu87        3
Raesty92           3
Lassilsala30       3
Rarallo90          3
Asur53             3
Yathecal82         3
Hiaral50           3
Chadolyla44        3
Chamjask73         3
                  ..
Maropast28         1
Ililsasya43        1
Filrion59          1
Qarirwen82         1
Tyaelo67           1
Yarolwen77         1
Chamalo71          1
Aeral43            1
Eosurdru76         1
Eusur90            1
Ethrasyon38        1
Chanossast57       1
Lisista63          1
Ilunyon70          1
Ilosianya35        1
Chanirra79         1
Yasrisu92          1
Hisridru55         1
Philodil43         1
Isursuir31         1
Tyaelistidru84     1
Chamastya76        1
Undirra73          1
Hala31             1
Lirtastan49        1
Mindimnya67        1
Undassa89          1
Aerithriaphos45    1
Shaidanu32         1
Lisiriya82         1
Name: SN, Length: 576, dtype: int64

In [4]:
total= [{"Total Players": 576}]

total_players = pd.DataFrame(total)
total_players

   Total Players
0            576

In [5]:
heros.head()
unique = heros["SN"].unique()
unique

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = heros["Item Name"].unique()
unique_items

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [7]:
number_of_items = len(heros["Item ID"].unique())
number_of_items

183

In [8]:
avg_count = heros["Price"].mean()
avg_count

3.050987179487176

In [9]:
number_of_purchases = heros["Price"].sum()
number_of_purchases

2379.77

In [10]:
total_orders = heros["Purchase ID"].count()
total_orders

780

In [11]:
summary_purchase_df = pd.DataFrame({"Number of Unique Items":[number_of_items],
                                   "Avg Price": [avg_count],
                                   "Total Revenue": [number_of_purchases],
                                   "Total Orders": [total_orders]})
summary_purchase_df

   Number of Unique Items  Avg Price  Total Revenue  Total Orders
0                     183   3.050987        2379.77           780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
grouped_gender_df = heros.groupby(["Gender"])
print(grouped_gender_df)
grouped_gender_df.head()
grouped_gender_df.count()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001DD9E76F588>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [13]:
gender_df1 = heros.drop_duplicates("SN")

In [14]:
male_count = gender_df1.loc[gender_df1["Gender"] == "Male"]
male_count

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
...,...,...,...,...,...,...,...
724,724,Lisassasta50,25,Male,144,Blood Infused Guardian,1.94
726,726,Iduelis31,23,Male,21,Souleater,1.10
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [15]:
male_counts= male_count["Item ID"].count()
male_counts

484

In [16]:
female_count= gender_df1.loc[gender_df1["Gender"]=="Female"]

In [17]:
female_counts = female_count["Item ID"].count()
female_counts

81

In [18]:
other_count = gender_df1.loc[gender_df1["Gender"]=="Other / Non-Disclosed"]

In [19]:
other_counts = other_count["Item ID"].count()
other_counts

11

In [20]:
male_percent = (male_counts/576)*100
female_percent = (female_counts/576)*100
other_percent = (other_counts/576)*100
index = ["Male","Female", "Other Non-Disclosed"]

In [21]:
Summary_Gender_Demo = pd.DataFrame({"Total Count": [male_counts, female_counts, other_counts],
                                   "Percentage of Players": [male_percent, female_percent, other_percent]},index=index)
Summary_Gender_Demo

                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
grouped_gender_df = heros.groupby(["Gender"])
print(grouped_gender_df)
grouped_gender_df.head()
grouped_gender_df.count()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001DD9E7837F0>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [23]:
item_count_M = heros.loc[heros["Gender"]== "Male"]

purchase_counts_M = item_count_M["Item ID"].count()
purchase_counts_M

652

In [24]:
item_count_F = heros.loc[heros["Gender"]== "Female"]
purchase_counts_F = item_count_F["Item ID"].count()
purchase_counts_F

113

In [25]:
item_count_O = heros.loc[heros["Gender"]== "Other / Non-Disclosed"]

purchase_count_O = item_count_O["Item ID"].count()
purchase_count_O

15

In [26]:
Male_Revenue = item_count_M["Price"].sum()
Male_Revenue

1967.64

In [27]:
Female_Revenue = item_count_F["Price"].sum()
Female_Revenue

361.94

In [28]:
Other_Revenue = item_count_O["Price"].sum()
Other_Revenue

50.19

In [29]:
avg_male_price = item_count_M["Price"].mean()
avg_male_price

3.0178527607361953

In [30]:
avg_female_price = item_count_F["Price"].mean()
avg_female_price

3.203008849557519

In [31]:
avg_other_price = item_count_O["Price"].mean()
avg_other_price

3.3460000000000005

In [32]:
avg_male_per_person = Male_Revenue/male_counts
avg_male_per_person

4.065371900826446

In [33]:
avg_female_per_person = Female_Revenue/female_counts
avg_female_per_person

4.468395061728395

In [34]:
avg_other_per_person = Other_Revenue/other_counts
avg_other_per_person

4.5627272727272725

In [35]:
summary_gender_df = pd.DataFrame({"Purchase Count": [purchase_counts_M, purchase_counts_F, purchase_count_O],
                                 "Avg Purchase Price":[avg_male_price,avg_female_price,avg_other_price],
                                 "Total Revenue": [Male_Revenue,Female_Revenue,Other_Revenue],
                                 "Avg per person": [avg_male_per_person,avg_female_per_person,avg_other_per_person]},index=index)
summary_gender_df

,Purchase Count,Avg Purchase Price,Total Revenue,Avg per person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [36]:
age_df = heros.drop_duplicates("SN")
age_df1 = age_df.dropna(how="any")

In [37]:
age_bins =[0,9,14,19,24,29,34,39,100]
age_labels =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(age_df1["Age"],age_bins, labels=age_labels)
age_df1["Age Bracket"]=pd.cut(age_df1["Age"],age_bins, labels=age_labels)
age_df1

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18,20-24
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
731,731,Eudanu84,22,Female,12,Dawne,1.02,20-24
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,20-24
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20-24
738,738,Eusur90,36,Male,121,Massacre,1.60,35-39
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87,35-39
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19
742,742,Isty55,20,Male,5,Putrid Fan,4.08,20-24
743,743,Frichilsa31,15,Male,110,Suspension,1.44,15-19
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,35-39
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20-24
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,20-24
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [38]:
age_df1["Age Bracket"].value_counts()

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Bracket, dtype: int64

In [39]:
percent_df =age_df1.loc[age_df1["Age Bracket"]=="<10"]
percent_df1 = percent_df["Item ID"].count()
u_10 = (percent_df1/576)*100
u_10

2.951388888888889

In [40]:
percent_df2 =age_df1.loc[age_df1["Age Bracket"]=="10-14"]
percent_df3 = percent_df2["Item ID"].count()
u_10_14= (percent_df3/576)*100
u_10_14

3.8194444444444446

In [41]:
percent_df4 =age_df1.loc[age_df1["Age Bracket"]=="15-19"]
percent_df5 = percent_df4["Item ID"].count()
u_15_19= (percent_df5/576)*100
u_15_19

18.57638888888889

In [42]:
percent_df6 =age_df1.loc[age_df1["Age Bracket"]=="20-24"]
percent_df7 = percent_df6["Item ID"].count()
u_20_24 = (percent_df7/576)*100
u_20_24

44.79166666666667

In [43]:
percent_df8 =age_df1.loc[age_df1["Age Bracket"]=="25-29"]
percent_df9 = percent_df8["Item ID"].count()
u_25_29 = (percent_df9/576)*100
u_25_29

13.368055555555555

In [44]:
percent_df10 =age_df1.loc[age_df1["Age Bracket"]=="30-34"]
percent_df11 = percent_df10["Item ID"].count()
u_30_34 = (percent_df11/576)*100
u_30_34

9.027777777777777

In [45]:
percent_df12 =age_df1.loc[age_df1["Age Bracket"]=="35-39"]
percent_df13 = percent_df12["Item ID"].count()
u_35_39 = (percent_df13/576)*100
u_35_39

5.381944444444445

In [46]:
percent_df14 =age_df1.loc[age_df1["Age Bracket"]=="40+"]
percent_df15 = percent_df14["Item ID"].count()
u_40 = (percent_df15/576)*100
u_40

2.083333333333333

In [47]:
Summary_Age_df = pd.DataFrame({"Total Count" : [percent_df1, percent_df3, percent_df5,percent_df7,percent_df9, percent_df11,percent_df13,percent_df15],
                  "Percentage of Players": [u_10, u_10_14, u_15_19, u_20_24, u_25_29, u_30_34, u_35_39, u_40]},index=age_labels)
Summary_Age_df

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
purchase_df = pd.cut(heros["Age"],age_bins, labels=age_labels)
heros["Age Bracket"]=pd.cut(heros["Age"],age_bins, labels=age_labels)
heros

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
spenders= heros.loc[heros["Age Bracket"]=="<10"]
spenders_u_10 =spenders["Price"].sum()
spenders_u_10

77.13

In [50]:
grouped_spenders_heros = heros.groupby("Age Bracket")

print(grouped_spenders_heros)
count = grouped_spenders_heros["Item ID"].count()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001DD9E7E32B0>

In [51]:
total_rev = grouped_spenders_heros["Price"].sum()

In [52]:
avg_price = grouped_spenders_heros["Price"].mean()

In [53]:
merged = pd.concat([count,total_rev,], axis=1)
merged

             Item ID    Price
Age Bracket
<10               23    77.13
10-14             28    82.78
15-19            136   412.89
20-24            365  1114.06
25-29            101   293.00
30-34             73   214.00
35-39             41   147.67
40+               13    38.24

In [54]:
merged_df = merged.rename(index=str, columns={"Price":"Total Revenue"})
merged_df

             Item ID  Total Revenue
Age Bracket
<10               23          77.13
10-14             28          82.78
15-19            136         412.89
20-24            365        1114.06
25-29            101         293.00
30-34             73         214.00
35-39             41         147.67
40+               13          38.24

In [55]:
merged_df1= pd.concat([merged_df, avg_price],axis=1)
merged_df1

             Item ID  Total Revenue     Price
Age Bracket
<10               23          77.13  3.353478
10-14             28          82.78  2.956429
15-19            136         412.89  3.035956
20-24            365        1114.06  3.052219
25-29            101         293.00  2.900990
30-34             73         214.00  2.931507
35-39             41         147.67  3.601707
40+               13          38.24  2.941538

In [56]:
spenders= heros.loc[heros["Age Bracket"]=="<10"]
spenders_u_10 =spenders["Price"].sum()
spenders_u_10

77.13

In [57]:
heros_pp = heros.groupby(["SN", "Age Bracket"]).sum().groupby(["Age Bracket"]).mean()
heros_pp

             Purchase ID        Age     Item ID     Price
Age Bracket
<10           588.764706  10.647059  143.352941  4.537059
10-14         459.727273  14.500000  131.227273  3.762727
15-19         512.700935  21.345794  119.607477  3.858785
20-24         540.980620  30.895349  125.624031  4.318062
25-29         533.402597  34.103896  118.779221  3.805195
30-34         504.884615  44.057692  132.211538  4.115385
35-39         535.354839  48.548387  133.451613  4.763548
40+           444.416667  45.000000   96.500000  3.186667

In [58]:
heros_pp.drop(["Item ID"],axis=1)

             Purchase ID        Age     Price
Age Bracket
<10           588.764706  10.647059  4.537059
10-14         459.727273  14.500000  3.762727
15-19         512.700935  21.345794  3.858785
20-24         540.980620  30.895349  4.318062
25-29         533.402597  34.103896  3.805195
30-34         504.884615  44.057692  4.115385
35-39         535.354839  48.548387  4.763548
40+           444.416667  45.000000  3.186667

In [59]:
heros_1 =heros_pp.rename(index=str, columns={"Price": "Avg Per Person"})

In [60]:
heros_1.drop(["Item ID"],axis=1)

             Purchase ID        Age  Avg Per Person
Age Bracket
<10           588.764706  10.647059        4.537059
10-14         459.727273  14.500000        3.762727
15-19         512.700935  21.345794        3.858785
20-24         540.980620  30.895349        4.318062
25-29         533.402597  34.103896        3.805195
30-34         504.884615  44.057692        4.115385
35-39         535.354839  48.548387        4.763548
40+           444.416667  45.000000        3.186667

In [61]:
summary_age_purchase = pd.merge(merged_df1,heros_1, on="Age Bracket")
summary_age_purchase
summary_age_purchase.drop(["Item ID_y"], axis=1)
summary_age_purchase.rename(index=str,columns={"Price": "Avg Price", "Item ID_x": "Number of Users"})

summary_age_purchase_1 = summary_age_purchase.drop(["Item ID_y", "Purchase ID", "Age"], axis=1)
summary_age_purchase_1

             Item ID_x  Total Revenue     Price  Avg Per Person
Age Bracket
<10                 23          77.13  3.353478        4.537059
10-14               28          82.78  2.956429        3.762727
15-19              136         412.89  3.035956        3.858785
20-24              365        1114.06  3.052219        4.318062
25-29              101         293.00  2.900990        3.805195
30-34               73         214.00  2.931507        4.115385
35-39               41         147.67  3.601707        4.763548
40+                 13          38.24  2.941538        3.186667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
#most_pop = heros[["SN", "Item ID", "Item Name", "Price"]]
most_pop1 = heros.groupby(["SN"]).sum()["Price"]
most_pop2 = heros.groupby(["SN"]).count()["Price"]
most_pop3 = heros.groupby(["SN"]).mean()["Price"]
#most_pop3 =most_pop1.sum()
#most_pop4 =most_pop1["Item Name"].value_counts()
#most_pop4
#most_pop1.head()
#most_pop0 =most_pop1.count()
#most_pop2 = most_pop0.sort_values("Purchase ID", ascending=False)
#most_pop3 = most_pop0.drop(["Age", "Gender", "Item Name", "Item ID", "Age Bracket", "Price"], axis=1)
#most_pop3.head(5)
#sort_1=most_pop1["Price"].sum()

Summary_Pop_Df = pd.DataFrame({"Purchase Count": most_pop2,
                              "Avg Price": most_pop3,
                              "Total Spent": most_pop1})

Summary_Pop_Df = Summary_Pop_Df.sort_values(["Total Spent"], ascending=False)
Summary_Pop_Df.head()
# total

             Purchase Count  Avg Price  Total Spent
SN
Lisosia93                 5   3.792000        18.96
Idastidru52               4   3.862500        15.45
Chamjask73                3   4.610000        13.83
Iral74                    4   3.405000        13.62
Iskadarya95               3   4.366667        13.10

In [63]:
most_pop1.head()
total_p =most_pop1.sum()
#total_p1= total_p.sort_values("Price",ascending=False)
#summary_spenders= pd.merge(most_pop3,total_p, on="SN")
#summary_spenders
#total_p

In [64]:
mean_1 = most_pop1.mean()
#summary_spenders1= pd.merge(summary_spenders,mean_1, on="SN")
#summary_spenders1
#summary_final= summary_spenders1.drop(["Purchase ID_y", "Age_x", "Item ID_x","Purchase ID","Age_y", "Item ID_y"],axis=1)
#summary_final.sort_values("Purchase ID_x", ascending=False)
#summary_final.head(5)
#mean_1

In [65]:
summary_spenders1= pd.merge(most_pop2,mean_1, on="SN")
summary_spenders_2 =pd.merge(summary_spenders1,total_p, on="SN")
summary_spenders_2.sort_values("Price", ascending=False)
summary_spenders_2

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
items = heros.groupby(["Item Name"]).count()
items.sort_values("Purchase ID", ascending=False)